:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
* {
  box-sizing: border-box;
}
#mainSection {
  display: flex;
  justify-content: center;
  margin: 50px 10% 50px 10%;
}
#leftSection {
  max-width: 600px;
  padding: 30px;
}
#rightSection {
  max-width: 600px;
  padding: 30px;
}
